@font-face{
	font-family: "MuseoSansCyrl";
	src: url("../font/MuseoSansCyrl.otf");
}
@font-face{
	font-family: "NotoSerif";
	src:url("../font/NotoSerif-Italic.ttf"), 
	url("../font/NotoSerif-Bold.ttf"),
	url("../font/NotoSerif-BoldItalic.ttf"),
	url("../font/NotoSerif-Regular.ttf");
}
@font-face{
	font-family: "beermoney";
	src:url("../font/beermoney.ttf"),
	url("../font/beermoney.woff"),
	url("../font/beermoney.woff2");
} 
@font-face{
	font-family: "AGAalenBold Roman";
	src:url("../font/agaalenbold_roman.ttf");
}
html, body{
	margin: 0px;
	background: #ccc;
}
a{
	text-decoration: none;
}
ul{
	padding: 0px;
}
li{
	list-style: none;
}
header{
	height: 100vh;
	width:100%;
	overflow: hidden;
}
.head-box, .slide-box, .nav{
	display: flex;
	flex-direction: row;
}
.head-box{
	justify-content: space-between;
	height: 15%;

}

h1{
	font-size: 20px;
	width: 350px;
	text-align: left;
	margin: 10px 0px 10px 40px; 
	font-family: "MuseoSansCyrl",sans-serif;
	color: #fff;
}
.name{
	font-size: 26px;
	font-weight: bold;
	align-self: center;
}
h2{
	font-size: 42px;
}
.partners-head{
	margin: 10px 50px 10px 50px;
	font-size: 14px;
	font-family: "MuseoSansCyrl",sans-serif;
	font-weight: bolder;
	text-align: right;
}

.slide-box{
	justify-content: center;
	width: 100%;
	height: 80%;
}
.slide{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 33.3%;
	height: 100%;
}
.slide:nth-child(1){
	background:#000000 url(../img/Seychas++-01.jpg) no-repeat 50% 50%;
	background-size: 100%;
	
}
.slide:nth-child(2){
	background: #6f6f6f url(../img/Seychas++-02.jpg) no-repeat 50% 40%;
	background-size: 100%;
}
.slide:nth-child(3){
	background: #ffffff url(../img/Seychas++-03.jpg) no-repeat 50% 30%;
	background-size: 100%;
	color: #000;
}
.button{
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 30px;
	border: 1px solid #fff;
	background: transparent;
	color: #000;
	font-family: "MuseoSansCyrl",sans-serif;
	font-weight: bolder;
	background: rgba(209,114,34,0.7);
	cursor: pointer;
}
.button:hover{
	color: #fff;
	background: rgba(209,114,34,1);
}
.nav{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5%;
	width: 100%;
}
.nav-header{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0px;
	padding-left: 50px;
}
.en-btn, .ru-btn{
	padding: 10px;
}
.nav-header li{
	margin: 0px 10px;
}
.nav-header li:not(:first-child):before{
	content: "/";
	color: #FF4E0D;
	font-weight: bolder;
	position: relative;
	left: -10px;
	
}
.nav-header a{
		font-family: "MuseoSansCyrl", sans-serif;
		color: #5f5f5f;
		font-size: 15px;
		font-weight: bolder;
}
.nav-header a:hover{
	text-decoration: underline;

}
.nav-header li:nth-child(2n) a{
	color: red;
}
main section:nth-child(odd){
	background: #fff;
}
.organization, .command, .partners, .contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	text-align: center;
	font-family: "MuseoSansCyrl",sans-serif;
}
.org, .commands, .partner{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px 50px;
	margin: 0px;

}
.about, .rules{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	font-family: "MuseoSansCyrl",sans-serif;
	padding: 50px 0px;
}

.txt{
	margin: 15px 50px;
	
}

.list-task li{
	display: flex;
	flex-direction: column;
	margin: 10px 30px;
	list-style: square;
}
.state{
	color: #000;
	padding: 20px;
	background: rgba(209,114,34,0.5);
	box-shadow: 1px 1px 15px 0px #000;
	border-radius: 30px;
}
.state:hover{
	background:rgba(209,114,34,1);
	color: #fff;
}
.general{
	font-weight: bolder;
}
.img-org{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	}
.org li, .commands li{
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 30px;
}
.partner{
	align-items: center;
}
.partner img{
	width: 200px;
	margin: 20px 30px;
}
.contacts{
	height: 400px;
	font-size: 18px;
}
.mail{
	color: #5b84f0;
	text-decoration: underline;
}
.contacts span{
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
}
.social{
	padding: 30px;
	border-radius: 50%;
	background: url("../img/media.png") no-repeat 50% 50%;
	background-size: 100%;
}
.link{
	color: #000;
	font-weight: bold;
}
.link:hover{
	text-decoration: underline;
}
footer{
	display: flex;
	align-items: center;
	height: 80px;
	background: #000;
	color: #fff;
	padding-left: 50px;
}